<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--Register entity mapping files-->
        <!--When using annotation, use class rather than xml resource-->
        <mapping class="pers.xiaoming.hibernate.entity.Student"/>

        <mapping class="pers.xiaoming.hibernate.entity.Person"/>
        <mapping class="pers.xiaoming.hibernate.entity.City"/>

    </session-factory>
</hibernate-configuration>